<h1><%= "#{t('projects_for')} @#{@team.name}" %></h1>

<table class="table" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th><%= t('date') %></th>
		<th><%= t('backlog') %></th>
		<th><%= t('finished') %></th>
		<th><%= t('score')%></th>
	</tr>
<% @team.projects.each do |project| %>
	<tr>
		<td><%= link_to l(project.created_at), project %></td>
		<td><%= project.backlog.name %></td>
		<td><% unless (project.finished?) %>
				<%= t('not-finished') %>
			<% else %> 
				<%= l(project.end_date) %>
				<%= raw(project.success? ? t('success') : t('fail')) %>
			<% end %>
		</td>
		<td><%= project.score %></td>
	</tr>
<% end %>
</table>
<p>&nbsp;</p>
<p><button class="btn" onclick="location.href='<%= new_project_path(:team => params[:id]) %>'"><%= t("new-project") %></button></p>
