<tr class="<%= field %>">
	<th><%= t(field) %></th>
	<% @project.sprints.each do |sprint| -%>
	<td rowspan="2" class="<%= field %> sprint_<%= sprint.number %>"><%= eval("sprint.#{field}") %></td>
	<% end -%>
	<td rowspan="2" class="<%= field %> total"><%= eval("@project.total_#{field}") %></td>
	<td rowspan="2" class="<%= field %> average"><%= eval("number_with_precision(@project.avg_#{field}, :precision => 2, :separator => t('separator'))") %></td>
</tr>
<tr class="<%= field %>">
	<th class="tooltip"><%= t(field + "_tooltip") %></th>
</tr>
