<h1><%= t('new') + " " + t('project') %></h1>
<%= form_for @project do |f| -%>
<% if @project.errors.any? -%>
  <div id="errorExplanation">
    <h2><%= t('errors') %></h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end -%>
<p>
	<%= f.label :team_id, t('team') %>
	<%= f.collection_select :team_id, Team.order(:name), :id, :name %>
</p>
<p>
	<%= f.label :backlog_id, t('backlog') %>
	<%= f.collection_select :backlog_id, Backlog.all, :id, :name %>
</p>
<p><%= f.submit t("create"), :disable_with => t('creating'), :class => "btn" %>
<% end -%>